/* Colors */

// General
$white-color: #ffffff;
$background-color: #f8f8f8;
$unselected-color: #c5c5c5;
$hover-color: #f5f5f5;

// For Text
$text-primary-color: #686868;
$text-secondary-color: #bababa;
